.search-summary{
  max-width: 1100px;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-summary p {
  font-size: .9rem;
}
.container{
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
}